<h2>Advisory Board</h2>
  
<p>The Public Policy Lab is grateful to our Advisory Board for advancing PPL’s mission and vision.</p>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/hirsh-pasek-kathryn">Kathryn Hirsh-Pasek, Professor of Psychology</a></li>
   <li><a href="https://liberalarts.temple.edu/nickerson-david">David Nickerson, Associate Professor of Political Science</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Christina Rosan, Associate Professor of Geography and Urban Studies</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/webber-douglas">Douglas Webber, Associate Professor of Economics</a></li>
</ul>
