<h2>Affiliated Faculty and Staff</h2>

  <details>
    <ul>
  <summary><strong><li><a href="https://liberalarts.temple.edu/academics/faculty/bachmeier-james" title="James Bachmeier">James Bachmeier</a><p><strong>Fellowship - Research Team Fellow</strong></p></li></strong></summary>
  <div class="col s12 m3 pull-m4">  
<a><img typeof="foaf:Image" src="https://github.com/TULiberalArts/Public-Policy-Lab/blob/master/media/resizedjamesbachmier.jpg?raw=true" alt=""></a>
  </div>
  <div class="col s12 m9">   
<p>Dr. James D. Bachmeier is an Assistant Professor in the Department of Sociology at Temple University. A sociologist and demographer, Dr. Bachmeier’s research focuses on international migration and patterns of social and economic integration of immigrants in western democracies, especially the United States.</p>
 </div>
<p><strong>Project Statement</strong></p>
<p>On the day of the MRI scan, you should avoid putting on extra hair products/accessories and glittery makeup. Some cosmetics, such as eye shadow and hair gels, may contain some metallic components that can interact with MRI magnets.</p>

<p>As a PPL fellow, I am working on developing a new set of demographic estimates of the unauthorized foreign-born population in the United States. Current research on the quantification of this population is plagued by a paucity of empirical data. These estimates will rely on publicly available Census survey data and commonly used statistical methods, and this research aims to open new avenues for social science and policy research to produce important knowledge about the size, characteristics, and economic position of the unauthorized immigrant population. Such research plays a vital role in informing ongoing academic and policy debates about the nation’s immigration dynamics and the future of America’s immigration policy.</p> 
</details>
  </ul>   
  
  



















</hr>

<h2>Advisory Board</h2>
  
<p>The Public Policy Lab is grateful to our Advisory Board for advancing PPL’s mission and vision.</p>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/hirsh-pasek-kathryn">Kathryn Hirsh-Pacek, Professor of Psychology</a></li>
   <li><a href="https://liberalarts.temple.edu/nickerson-david">David Nickerson, Associate Professor of Political Science</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/rosan-christina">Christina Rosan, Associate Professor of Geography and Urban Studies</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/webber-douglas">Douglas Webber, Associate Professor of Economics</a></li>
</ul>

